
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 800px;
    margin: 0 auto;
}

header{
    padding: 10px;
    background-color:rgb(158, 253, 255);
}

.head-content{
    background-color: rgb(255, 153, 0);
    display: flex; 
}

.logo{
    border: 2px solid black;
    flex-grow: 1;

}

.menu{
    border: 2px solid black;   
    flex-grow: 3;  
}

ul{
    text-align: center;
}


li{
    list-style-type: none;
    display: inline-block;
}

li a{
    text-decoration: none;
    background-color: grey;
    padding: 5px 10px;
    display: inline-block;
    margin: 2px;
}

.login{
    border: 2px solid black;
    flex-grow: 1;
    
}


.section1{
    background-color: rgb(0, 0, 127);
    padding: 20px;
}

.box1{
    background-color: rgb(255, 115, 229);
    height: 200px;
    width: 50%;  
}


.sezione2{
    background-color: white;
}

.sezione3{
    background-color: rgba(211, 211, 211, 0.861);

}

.section2{
    padding: 20px;
}

.section3{
    padding: 20px;
    
}


.box2{
    height: 300px;
    display:flex;
}

.reverse{
    flex-direction: row-reverse;
}

.boxleft{
    background-color: rgb(0, 174, 255);
    flex-grow: 2;
    border: 2px solid black;
}

.boxright{
    background-color: pink;
    flex-grow: 1;
    border: 2px solid black;
}

